*, 
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
}

.header {
  /* width: 100vw; */
  height: 85vh;
  /* background: url(./img/header.jpg); */
  background-color: rgb(34, 32, 32);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  object-fit: contain;
}

.container {
  display: flex;
  width: 100vw;
}

.sidebar {
  flex: 3;
  
}

.drugs {
  flex: 9;
  border: 1px solid green;  
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.drug {
  border: 1px solid red;
  width: 30%;
}

.drug h1 {
  font-size: 20px;
}

